.body {
	background-color:#26512e;	
}
.navigation {
	text-align:center;
	height:auto;
	width:auto;
	float:right;
}
.navigaton ul li {
	text-align:center;	
}
.navigation ul li a {
	text-decoration:none;
	color:white;
	text-align:center;
	font-family: 'IM Fell English SC', serif;
}
.navigation ul li a:hover {
	color:black;	
}
.jumbotron {
	text-align:center;
	background-color: #888;
	background-image:url(siphons.jpg); background-repeat:no-repeat;
	background-size:cover;
	height:400px;
	width:100%;	
	color:white;
	font-family: 'IM Fell English SC', serif;
	font-size:35px;
	box-shadow: 0px 2px black;
}
.jumbotron h1 {
	line-height:1px;
	text-shadow:5px 5px black;	
}
.pageHeader {
	text-align:center;
	font-family: 'IM Fell English SC', serif;
	color:white;	
}
.mainContent {
	margin:20px;
}
.gallery {
	border:2px solid black;
	width:auto;
	margin:0, auto;
	padding:10px;
}
.sitefooter {
	margin:0, auto;
	text-align:center;
	font-family: 'IM Fell English SC', serif;
	color:white;	
}
.aboutPost {
	padding:10px;
	text-align:center;
	height:auto;
	width:auto;
	margin:0, auto;
	margin:20px;
	font-family: 'IM Fell English SC', serif;
	color:white;	
}
.contactInfo {
	margin:20px;
	padding:10px;
	text-align:center;
	font-family: 'IM Fell English SC', serif;
	color:white;	
}
.photos {
	margin:0, auto;	
}
.image {
	text-align:center;	
}
.bigImage {
	text-align:center;
	height:665;
	width:1000;
	font-family: 'IM Fell English SC', serif;
	color: white;	
}
.comments {
	margin:0, auto;	
}
.imageContainer {
	position:relative;	
}
.photoInfo {
	width:1000;
	color:white;
}
.galleryInfo {
	text-align:center;
	margin:20px;
	padding:10px;
	font-family: 'IM Fell English SC', serif;
	color: white;	
}
.image-links {
	margin-bottom:5px;
}
