.body {
    background: url(backgr-new.jpg); background-repeat: no-repeat; 
	background-color:#26512e;	
}
.navigation {
	text-align:center;
	height:auto;
	width:auto;
    float: right;
}
.navigaton ul li {
	text-align:center;	
}
.navigation ul li a {
	text-decoration:none;
	color:white;
	text-align:center;
	font-family: 'IM Fell English SC', serif;
}
.navigation ul li a:hover {
	color:black;	
}
.banner {
    text-align: center;
    width: 1225px;
    height:150px;
    padding:10px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-family: 'IM Fell English SC', serif;
}
.banner h1 {
    font-size: 55;
    text-decoration: underline;
}
.pageHeader {
	text-align:center;
	font-family: 'IM Fell English SC', serif;
	color:white;	
}
.mainContent {
	margin:20px;
}
.gallery {
	border:2px solid black;
	width:auto;
	margin:0, auto;
	padding:10px;
}
.sitefooter {
	margin:0, auto;
	text-align:center;
	font-family: 'IM Fell English SC', serif;
	color:white;	
}
.aboutPost {
	padding:10px;
	text-align:center;
	height:auto;
	width:auto;
	margin:0, auto;
	margin:20px;
	font-family: 'IM Fell English SC', serif;
	color:white;	
}
.aboutContainer {
	padding: 10px;
	text-align: center;
	font-size: 17px;
	color: white;
}
.contactInfo {
	margin:20px;
	padding:10px;
	text-align:center;
	font-family: 'IM Fell English SC', serif;
	color:white;	
}
.contactInfo p {
	font-size: 17px;
}
.contactInfo a {
	color: white;
}
.contactInfo a:hover {
	color: black;
}
.photos {
	margin:0, auto;	
}
.image {
	text-align:center;	
}
.bigImage {
	text-align:center;
	height:665;
	width:1000;
	font-family: 'IM Fell English SC', serif;
	color: white;	
}
.bigImage img {
	border:3px solid black;
}
.comments {
	margin:0, auto;	
}
.imageContainer {
	position:relative;	
}
.photoInfo {
	width:1000;
	color:white;
}
.galleryInfo {
	text-align:center;
	margin:20px;
	padding:10px;
	font-family: 'IM Fell English SC', serif;
	color: white;	
}
.image-links {
	margin-bottom:5px;
}
